body {
    background-image: url(imagenes/fondo.png);
}
#titulo{
    background-color: #ffd6babe;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 1000px;
    height: 50px;
    padding: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #000;
    position: fixed;
    top: -10px;
    
}
#nombre{
    background-color: #98a376b2;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width:275px;
    height: 30px;
    padding: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #000;
    position: fixed;
    top: -10px;
    left: 0px;
    font-size: 1rem;
    text-align: right;
}
#mifoto{
    display: flex;
    margin: 0px 390px 0px;
    }
#presentaciontotal{
    background-color: #FFD6BA;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 300px;
    height: 245px;
    padding: 10px;
    margin-top: -285px;
    margin-left: 35px;
}
.presentacion1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1;
}
.presentacion2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1;
    text-align: justify;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 0.75;
}
#caphechas{
    background-color: #ffd6babe;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: total;
    height: 35px;
    padding: 0px;
    margin-left: 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #000;
    text-align: center;
    font-size: 2rem;
}
#form{
    background-color: #ffd6babe;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: total;
    height: 35px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #000;
    font-size: 2rem;
    text-align: center;
}
#idiomas{
    background-color: #ffd6babe;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: total;
    height: 35px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #000;
    font-size: 2rem;
    text-align: center;
}
#explabo{
    background-color: #ffd6babe;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: total;
    height: 35px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #000;
    font-size: 2rem;
    text-align: center;
}
#curso1{
    background-color: #ffd6bab7;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 370px;
    height: 105px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
.cursotexto{
    line-height: 1;
}
.cursotitulo{
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    line-height: 1;
}
#curso2{
    background-color: #eb9b83b9;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 370px;
    height: 120px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#curso3{
    background-color:#ffe9cde0;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 370px;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#curso4{
    background-color: #98a376b2;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width:370px;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#curso5{
    background-color: #ffd6bab7;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 370px;
    height: 120px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#curso6{
    background-color: #eb9b83b9;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 370px;
    height: 115px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#curso7{
    background-color:#ffe9cde0;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 370px;
    height: 105px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#curso8{
    background-color: #98a376b2;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 370px;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
.formtitulo{
    font-weight: 700;
}
.formtexto{
    line-height: 1;
}
#form1{
    background-color: #eb9b83b9;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 410px;
    height: 115px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#form2{
    background-color:#ffe9cde0;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 410px;
    height: 135px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
.idiomatitulo{
    font-weight: 700;
}
#idioma1{
    background-color: #ffd6bab7;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 750px;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#idioma2{
    background-color: #98a376b2;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 750px;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#idioma3{
    background-color:#ffe9cde0;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 750px;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
.extitulo{
    font-weight: 700;
}
#ex1{
    background-color: #eb9b83b9;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 860px;
    height: 70px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#ex2{
    background-color: #98a376b2;
    padding-right: 700px;
    padding-top: 10px;
    padding-left: 60px;
    padding-bottom: 50px;
    width: 860px;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 280px;
}
#link{
    background-color: #ffd6babe;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 900;
    height: 35px;
    padding: 0px;
    margin-left: 270px;
    font-family: 'PlayFair Display', serif;
    font-size: 1rem;
    text-decoration: none;
    font-weight:900;
    color:#000;
    text-align: right;
}

